<table>
  <tr>
    <th> Control Km </th>
    <th> Opening Time </th>
    <th> Closing Time </th>
  </tr>
  {% for item in items %}
  <tr>
    <td> {{ item.km }} </td>
    <td> {{ item.open }} </td>
    <td> {{ item.close }} </td>
  </tr>
  {% endfor %}
</table>